doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/rot.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/zepto/1.0rc1/zepto.min.js')
    script(type='text/javascript', src='http://cdn.binaryjs.com/0/binary.js')
    script(type='text/javascript', src='/javascripts/textgen.js')
    script(type='text/javascript', src='/javascripts/main.js')
  body
    block content